.group{
    /* display: flex; */
    width: 100%;
    /* flex-wrap: nowrap; */
    /* -webkit-box-pack: justify; */
}

.section__container{
    border: 1px solid #dadce0;
    border-radius: 5px;
    margin-bottom: 12px;
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
}
.block-header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}
.block-header__title{
    color: rgb(128, 128, 137);
    font-weight: normal;
    margin: 0px;
}
.block-header__title h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    color: rgb(11, 116, 229);
    text-decoration: none;
    background-color: transparent;
}

.customer_info{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(56, 56, 61);
    margin-bottom: 2px;
    font-weight: 600;
}
.customer_info p{
    margin: 0px;
    word-break: break-word;
}
.customer_info i{
    display: block;
    width: 1px;
    height: 20px;
    background-color: rgb(235, 235, 240);
    margin: 0px 8px;
}
.customer_info__name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.address{
    color: rgb(128, 128, 137);
    font-weight: normal;
}

.address__type{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 0px 6px;
    border-radius: 100px;
    margin-right: 4px;
    height: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.address__type--home{
    color: rgb(0, 171, 86);
    background-color: rgb(239, 255, 244);
}
.wrapperr{
    /* background-color: #fff;
    width:40%;
    border: 1px solid #dadce0;
    border-radius: 5px;
    margin-right: auto;
    float: right; */
    margin: 20px;
    margin-left: 1%;
    background-color: #fff;
    margin-top:15px;
    width:30%;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 30px;
    display: block;
    height: 60vh;
}