.itemAmount{
    color: rgb(255, 255, 255);
    background: rgb(255, 66, 79);
    height: 16px;
    right: 0px;
    top: 5px;
    margin-right: 50%px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    /* position: absolute; */
    padding: 0.5px 4px;
}
.form-control{
    text-align: center;
    align-items: center;
    display: inline;
    
}

.main-header{
    position: relative;
    background: rgb(255, 255, 255);
    padding: 8px 0px;
    z-index: 999;
}
.wrapper{
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}
.middle_wrapper{
    display: flex;
    padding: 16px 0px 10px;
    height: auto;
    position: relative;
    z-index: 2;
    -webkit-box-align: center;
    align-items: center;
}
.middle_leftcontainer{
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
}
.logo-menu{
    display: flex;
    align-items: flex-start;
    flex-basis: 190px;
    flex-shrink: 0;
    margin-right: 16px;
    margin-right: 48px;
    flex-basis: unset;
}
.form-search{
    flex: 1 1 0%;
}
.header_user_shortcut{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 48px;
}
.user-cartItem{
    position: relative;
    display: block;
}
.cart-wrapper{
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.cart-icon{
    margin-right: 0px;
    border-radius: unset;
}
.ItemCart{
    color: rgb(255, 255, 255);
    background: rgb(255, 66, 79);
    height: 16px;
    right: 0px;
    top: -4px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    position: absolute;
    padding: 0.5px 4px;
}